<h2>Notice</h2>

<table>
  <thead>
    <th>ID</th>
    <th>Título</th>
    <th>Resumo</th>
    <th>Texto</th>
  </thead>
  <tbody>
      <tr>
        <td><%= notice[0].id %></td>
        <td><%= notice[0].title %></td>
        <td><%= notice[0].summary %></td>
        <td><%= notice[0].body %></td>
      </tr>

  </tbody>
</table>
